.tweet-list{
  width: 100vw;
  height: 100vh;
  display: flex;
  &__center{
    width: 40%;
    height: 100%;
    background-image: url(/book_image.jpg);
    background-size: cover;
    filter: saturate(60%);
    opacity: 0.1;
    position: relative;
  }
  &__color{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 27%;
    background-color: rgba(227, 255, 125, 0.2);
    z-index: 1;
  }
  &__content{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 27%;
    z-index: 2;
    overflow: auto;
    &__top{
      padding: 20px 0 10px 20px;
      font-size: 20px;
      font-weight: bold;
      border-bottom: solid 1px #414d0b;
      box-sizing: border-box;
      // position: fixed; topをヘッダーとして固定するかどうか・・・
    }
    &__tweetbox{
      // padding-top: 60px; topをヘッダーとして固定するかどうか・・・
      @include middle_located();
      border-bottom: solid 1px #414d0b;
      &__image{
        width: 14%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .image-icon{
          height: 50px;
          width: 50px;
          object-fit: contain;
          border-radius: 50%;
          border: solid 1px #414d0b;
        }
      }
      &__text{
        margin: 15px 20px 15px 0;
        width: 86%;
        &__top{
          @include middle_located();
          &__category{
            width:55%;
            .category-box{
              border: none;
              height: 30px;
              width: 100%;
              border-radius: 0px;
              border-bottom: solid 1px #414d0b;
              background-color: transparent;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              .select-default{
                display: none;
                color: gray;
              }
            }
            .category-box:focus{
              border-color: none;
              outline: none;
            }
          }
          &__button{
            width: 45%;
            display: flex;
            justify-content: flex-end;
            &__left{
              margin: auto 25px auto 0;
              .fa-images{
                color: #414d0b;
                font-size: 22px;
                transition: color
              }
              .fa-images:hover{
                color: #606B2F;
              }
            }
            &__right{
              .post-button{
                text-align: center;
                line-height: 30px;
                background-color: #414d0b;
                border: solid 1px #414d0b;
                width: 180px;
                border-radius: 30px;
                color: white;
                transition: background-color;
                transition: border
              }
              .post-button:hover{
                background-color: #606B2F;
                border: solid 1px #606B2F;
              }
            }
          }
        }
        .title-box{
          border: none;
          height: 30px;
          width: 100%;
          border-bottom: solid 1px #414d0b;
          background-color: transparent;
        }
        .title-box:focus{
          border-color: none;
          outline: none;
        }
        .content-box{
          border: none;
          height: 30px;
          width: 100%;
          border-bottom: solid 1px #414d0b;
          background-color: transparent;
        }
        .content-box:focus{
          border-color: none;
          outline: none;
        }
      }
    }
    &__timeline{
      padding: 15px 20px 10px 0;
      @include middle_located();
      border-bottom: solid 1px #414d0b;
      position: relative;
      &__image{
        height: 100%;
        width: 14%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .tweet-user-icon{
          height: 50px;
          width: 50px;
          object-fit: contain;
          border-radius: 50%;
          border: solid 1px #414d0b;
          position: absolute;
          top: 15px;
        }
      }
      &__content{
        width: 86%;
        &__top{
          @include both_end_located();
          &__namebox{
            display: flex;
            align-items: center;
            &__name{
              font-weight: bold;
              font-size: 18px;
            }
            &__ID{
              color: gray;
              margin-left: 5px;
              font-size: 14px;
            }
            &__time{
              color: gray;
              margin-left: 15px;
              font-size: 14px;
            }
          }
        }
        &__tweet{
          margin-top: 10px;
          line-height: 130%;
          font-size: 14px;
        }
        &__impression{
          margin-top: 10px;
          font-size: 18px;
        }
        &__image{
          margin-top: 10px;
          .tweet-image{
            border-radius: 30px;
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            object-position: 50% 0;
          }
        }
        &__retweetbox{
          width: 100%;
          margin-top: 15px;
          padding: 10px 15px;
          box-sizing: border-box;
          border-radius: 20px;
          border: solid 1px #414d0b;
          &__top{
            display: flex;
            align-items: center;
            &__image{
              margin: 0px 10px 0 0;
              .retweet-user-icon{
                height: 25px;
                width: 25px;
                border-radius: 50%;
              }
            }
            &__name{
              font-weight: bold;
            }
            &__ID{
              color: gray;
              font-size: 14px;
              margin-left: 5px;
            }
            &__time{
              color: gray;
              font-size: 14px;
              margin-left: 12px;
            }
          }
        }
        &__button{
          margin: 10px 30px 0 30px;
          @include both_end_located();
          color: gray;
          &__comment{
            transition: color
          }
          &__comment:hover{
            color: rgba(0, 0, 255, 1);
            transition: 0.1s;
          }
          .far.fa-comment{
            margin-right: 5px;
            border-radius: 50%;
            padding: 7px;
            transition: background-color;
          }
          .far.fa-comment:hover{
            background-color: rgba(0, 0, 255, 0.4);
            transition: 0.1s;
          }
          &__retweet{
            transition: color
          }
          &__retweet:hover{
            color: rgba(65, 77, 11, 1);
            transition: 0.1s;
          }
          .fas.fa-retweet{
            margin-right: 5px;
            border-radius: 50%;
            padding: 7px 4px;
            transition: background-color;
          }
          .fas.fa-retweet:hover{
            background-color: rgba(0, 255, 0, 0.3);
            transition: 0.1s;
          }
          &__heart{
            transition: color
          }
          &__heart:hover{
            color: rgba(255, 0, 0, 1);
            transition: 0.1s;
          }
          .far.fa-heart{
            margin-right: 5px;
            border-radius: 50%;
            padding: 7px;
            transition: background-color;
          }
          .far.fa-heart:hover{
            background-color: rgba(255, 0, 0, 0.3);
            transition: 0.1s;
          }
        }
      }
    }
  }
}
